			<!-- panel left -->
			<div data-role="panel" id="leftpanel" data-display="overlay" data-position-fixed="true" >

				<div class='nd2-sidepanel-profile wow fadeInDown'>
					<img class='profile-background' src="img/thumbnail/timeline.jpg" />
					<div class="row">
						<div class='col-xs-4 center-xs'>
							<div class='box'>
								<img class="profile-thumbnail" src="img/thumbnail/john.jpg" />
							</div>
						</div>
						<div class='col-xs-8'>
							<div class='box profile-text'>
								<strong id="profilename"></strong>
								<span class='subline'>Profile</span>
							</div>
						</div>
					</div>
				</div>


				<ul data-role="listview" data-inset="false">
					<li  data-role="list-divider"><a href="profile.html" data-ajax='false'><i class="fa fa-home fa-lg pull-left"style="margin-right:10px"></i>Home</a></li>
				</ul>
				<ul data-role="listview" data-inset="false">
					<li data-role="list-divider"><a href="shops.html" data-ajax='false'><i class="fa fa-map-marker fa-lg pull-left" style="margin-right:12px"></i> Shops And Clinics</a></li>
				</ul>

				<ul data-role="listview" data-inset="false">
				<li data-role="list-divider"><a href="pet-sale.html"data-ajax='false'><i class="fa fa-shopping-cart fa-lg pull-left"style="margin-right:10px"></i>Pet Sale</a></li>
				</ul>

				<ul data-role="listview" data-inset="false">
				<li data-role="list-divider"><a href="Pet-adoption.html"data-ajax='false'><i class="fa fa-paw fa-lg pull-left"style="margin-right:10px"></i>Pet Adoption</a></li>
				</ul>

				<ul data-role="listview" data-inset="false">
				<li data-role="list-divider"><a href="edit-profile.html"data-ajax='false'><i class="fa fa-cog fa-lg pull-left"style="margin-right:10px"></i>Profile Settings</a></li>
				</ul>



				<hr class="inset">
				<ul data-role="listview" data-inset="false">
					<li data-role="list-divider"><a href="#"data-ajax='false'><i class="fa fa-sign-out pull-left" style="margin-right:10px"></i>Log-out</a></li>
				</ul>

			</div>
			<!-- /panel left -->
